<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kyrsovaya.Properties.Settings.Uchebnye_kursiConnectionString"
            connectionString="Data Source=DESKTOP-72QVA3M\SQLEXPRESS;Initial Catalog=Uchebnye_kursi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kyrsovaya.Properties.Settings.Uchebnye_kursiConnectionString1"
            connectionString="Data Source=DESKTOP-PIJC67J;Initial Catalog=Uchebnye_kursi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>